.pList{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .pListItem{
    
    // width: 250px;
    // height: 250px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .pListImg{
    width: 250px;
    height: 250px;
    object-fit: cover;
    // background-color: gray;
    background-color: #CAEBF2;
  }
  
  .pListTitles>h1{
    font-size: 18px;
    color: #444;
  }
  
  .pListTitles>h2{
    font-size: 14px;
    font-weight: 300;
  }