.searchContainer{
  display: flex;
  justify-content: center;
  // margin-top: 20px;
  margin: 20px 20px;
  // border: 2px solid green;


  .searchWrapper{
    width: 100%;
    max-width: 2000px;
    display: flex;
    gap: 20px;
    // border: 2px dashed orange;



    .searchFilter{
      flex: 1;
      // border: 2px solid blue;
      background-color: #EFEFEF;
      padding: 10px;
      position: sticky;
      height: max-content;
      top: 90px;
      // bottom: 20px;


      button{
        border: none;
        background-color: #CAEBF2;
        padding: 10px;
        cursor: pointer;
        width: 100%;
        font-weight: 600;
        
        &:hover{
          background-color: #aedee8;
        }
      }


      .sItem{
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;


        input {
          width: 40%;
          min-width: 15ch;
          max-width: 30ch;
          border: 1px solid var(--select-border);
          border-radius: 25px;
          padding: 0.5em 0.75em;
          font-size: 1.25rem;
          cursor: pointer;
          line-height: 1.1;
          background-color: #e1e1e1;
          // background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
          outline: none;
        }

        label{
          padding-bottom: 5px;
          font-weight: 600;
        }

        select{
          width: 100%;
          min-width: 15ch;
          max-width: 30ch;
          border: 1px solid var(--select-border);
          border-radius: 25px;
          padding: 0.5em 0.75em;
          font-size: 1.25rem;
          cursor: pointer;
          line-height: 1.1;
          background-color: #e1e1e1;
          // background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
          outline: none;
          display: grid;


          &::after{
            content: "";
            width: 0.8em;
            height: 0.5em;
            background-color: black;
            clip-path: polygon(100% 0%, 0 0%, 50% 100%);
          }
        }

        

      }
    
    }

    .searchResults{
      flex: 3;
      // border: 2px solid purple;
    }
  }
}





// .listContainer {
//   display: flex;
//   justify-content: center;
//   margin-top: 20px;
// }

// .listWrapper {
//   width: 100%;
//   max-width: 1024px;
//   display: flex;
//   gap: 20px;
// }

// .listSearch {
//   flex: 1;
//   background-color: #febb02;
//   padding: 10px;
//   border-radius: 10px;
//   position: sticky;
//   top: 10px;
//   height: max-content;
// }

// .lsTitle{
//   font-size: 20px;
//   color: #555;
//   margin-bottom: 10px;
// }

// .lsItem{
//   display: flex;
//   flex-direction: column;
//   gap: 5px;
//   margin-bottom: 10px;
// }

// .lsItem>label{
//   font-size: 12px;
// }

// .lsItem>input{
//   height: 30px;
//   border: none;
//   padding: 5px;
// }
// .lsItem>span{
//   height: 30px;
//   padding: 5px;
//   background-color: white;
//   display: flex;
//   align-items: center;
//   cursor: pointer;
// }

// .lsOptions{
//   padding: 10px;
// }

// .lsOptionItem{
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 10px;
//   color: #555;
//   font-size: 12px;
// }

// .lsOptionInput{
//   width: 50px;
// }

// .listSearch>button{
//   padding: 10px;
//   background-color: #0071c2;
//   color: white;
//   border: none;
//   width: 100%;
//   font-weight: 500;
//   cursor: pointer;
// }

// .listResult {
//   flex: 3;
// }