.courseCarousele {

  padding-bottom: 200px;
  .wrapperCarousele{

    position: relative;


    .sliderArrow {
      width: 50px;
      height: 100%;
      background-color: rgb(22, 22, 22, 0.5);
      color: white;
      position: absolute;
      z-index: 9;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }

    .carousele {
      margin-left: 50px;
      display: flex;
      margin-top: 10px;
      width: max-content;
      transform: translateX(0px);
      transition: all 1s ease;
      // overflow-x: scroll;
      

      // display: flex;
      // height: 100%;
      // width: 100%;
      // overflow-x: scroll;
      // scroll-snap-type: x mandatory;
      // scroll-behavior: smooth;
    }


  }


  
}