// .home {
//     background-color: teal;
// }

.homeContainerCenter{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 30px;
    overflow: hidden;
    // overflow-x: scroll;
    // webkit-scrollbar: width:0 height:0 ;
  }
  
  .homeTitle{
    width: 1024px;
    max-width: 100%;
    font-size: 20px;
  }